API_ID=123456
API_HASH=your_api_hash
BOT_TOKEN=123456:ABCDEF
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/

BOT_USERNAME=BiolinkCleanerBot

# ============================================================
# BUTTON LINKS
# ============================================================

SUPPORT_URL=https://t.me/your_support
UPDATE_URL=https://t.me/your_updates
OWNER_URL=https://t.me/your_owner
PROMO_URL=https://t.me/your_promo

# ============================================================
# MODERATION
# ============================================================

WARN_LIMIT=3
MUTE_MINUTES=60

# ============================================================
# STARTUP LOGGER
# ============================================================

LOGGER_GROUP_ID=-1003979103138

PLUGIN_COUNT=15

LOGGER_BOT_NAME=kirti 🐒
LOGGER_POWERED_BY=KIRTI-BOTS

START_IMAGE_PATH=https://h.uguu.se/FekWWcsz.jpg
PING_IMAGE_PATH=https://h.uguu.se/FekWWcsz.jpg
